{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    {% for wish in wishes %}
        <li><a href="{{ path('wish_detail', {'id': wish.id}) }}">{{ wish.title }} - {{ wish.category ? wish.category.name : 'Pas de catégorie' }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    {{ parent() }} | wish list
{% endblock %}

